asgiref>=3.6.0
Django==4.2.16
django-cors-headers==3.11.0
django-debug-toolbar==3.2.4
djangorestframework==3.14.0
Pillow
drf-spectacular==0.21.2
flake8==4.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
sqlparse==0.4.2
